.App {
  text-align: center;

}

* {
  /* background-color: #abafb1; */
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Montserrat', sans-serif;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.button-option-list {
  margin: 8px;
   --hover-shadows: 10px 10px 15px #12121260, -10px -10px 15px rgba(48, 48, 48, 0.685); 
  --accent: rgb(112, 223, 186);
  font-weight: bold;
  letter-spacing: 0.1em;

  border-radius: 8px;
  background-color: #212121;
  color: white;
  padding: 1em ;
  transition: box-shadow ease-in-out 0.1s, background-color ease-in-out 0.1s,
    letter-spacing ease-in-out 0.1s, transform ease-in-out 0.1s;
  text-align: center;
  font-size: medium;
  font-family: sans-serif;
  height: max-content;
  width: 300px;
  
  display: inline-block; /* Para que el ancho mínimo se aplique correctamente */
}

.button-option-list:hover {
  box-shadow: var(--hover-shadows);
}

.button-option-list:active {
  box-shadow: #4b4747, var(--accent) 0px 0px 30px 5px;
  background-color: rgb(148, 148, 148);
  transform: scale(0.95);
}

.input-list{
  
  width: 100%;
  max-width: 90%;
  display: grid;
  grid-template-rows: repeat(2, 2fr);
  grid-template-columns: repeat(1, 2fr);
  gap: 12px;
  
}
