.App {
  text-align: center;
  
}
*{
  background-color: #91acdd;
  font-family: 'Raleway', sans-serif;
font-family: 'Young Serif', serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-option-list {
  margin:8px;
  
  --hover-shadows: 16px 16px 33px #121212,
                    -16px -16px 33px #303030;
  --accent: rgb(112, 223, 186);
  font-weight: bold;
  letter-spacing: 0.1em;
  border: none;
  border-radius: 1.1em;
  background-color: #212121;
  color: white;
  padding: 1em 2em;
  transition: box-shadow ease-in-out 0.3s,
              background-color ease-in-out 0.1s,
              letter-spacing ease-in-out 0.1s,
              transform ease-in-out 0.1s;
  box-shadow: 13px 13px 10px #1c1c1c,
              -13px -13px 10px #262626;
  font-size: large;
  font-family: sans-serif;
 }
 
 .button-option-list:hover {
  box-shadow: var(--hover-shadows);
 }
 
 .button-option-list:active {
  box-shadow: var(--hover-shadows),
               var(--accent) 0px 0px 30px 5px;
  background-color: var(--accent);
  transform: scale(0.95);
 }
 